/* Header Styles */
#top-container{
  background-color:#005EC4;
  color:white;
  padding:40px;
  text-align:center;
}
.Logo{
  width:75px;
  padding-top:20px;
  margin:10px;
}
.AppTitle{
  font-family: "Montserrat";
  font-weight:400;
  font-size:4rem;
  margin:0;
}

/* Body Styles */
#middle-container{
  background-color:#BFBFFF;
  padding:175px;
}
a{
  color:black;
  text-decoration:none;
}
.version{
  font-family:"Montserrat";
  font-weight:400;
  font-size: 1rem;
  margin-bottom:0;
  padding-top:5px;
}
  /* Card Styles */
  .card{
    background-color:#F1EDFF;
    border-style:solid;
    border-color:black;
    border-width:2px;
    margin:auto;
  }
  .card:hover{
    background-color:#716EA1;
  }
  #RoadCallCard:hover{
    background-color:#F7D266;
  }
  /*#FA8072*/
  #LogOffCard:hover{
    background-color:#F7432F;
  }
  .cardgap{
    margin:5px;
  }
  .card-width{
    min-width:300px;
    max-width: 300px;
  }
  .card-body{
    padding:50px;
    text-align:center;
    min-width:300px;
    margin:auto;
  }
  .card-img-top{
    padding-top:20px;
    width:100px;
    height:100px;
  }
  .card-title{
    font-family: "Montserrat";
    font-weight:800;
    font-size: 1.5rem;
    text-align:center;
  }
  .card-text{
    font-family: "Montserrat";
    font-weight:400;
    font-size: 1.2rem;
    text-align:center;
  }

/* Footer Styles */
#bottom-container{
  background-color: #005EC4;
  padding:10px;
}
.LogTitle{
  font-family:"Montserrat";
  color:white;
  font-weight:800;
  font-size: 1.3rem; 
}
.Name{
  font-family:"Montserrat";
  color:white;
  font-weight:800;
  font-size: 1rem;
}
.LogInFo{
  color:white;
  font-family: "Montserrat";
  font-weight:400;
  font-size: 1rem;
}

/* Inspection Page Styling */